nav ul li:hover {
  background-color: yellow;
}

#sidenav-overlay {
  z-index: 9
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Sans", sans-serif;
}

main {
  flex: 1 0 auto;
}

thead {
  font-weight: bold;
}