.modal.full {                                                                                                      
    top: 5vh !important;
    width: 90vw; 
    max-height: 90vh; 
    height: 90vh
} 