nav {
    z-index: 10;
    position: relative;
    background-color: rgba(0, 0, 0, 0)
}

.no-shadows {
    box-shadow: none!important;
}

nav ul li:hover {
    background-color: yellow;
}

.sidenav ul li:hover {
    background-color: yellow;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Computer Modern Sans", sans-serif;
}

#sidenav-overlay {
    z-index: 9
}

.slides img {
    filter: brightness(40%);
}