nav ul li:hover {
  background-color: yellow;
}

#sidenav-overlay {
  z-index: 9
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Sans", sans-serif;
}

main {
  flex: 1 0 auto;
}

.alert {
  color: red;
}

#admin-logout-btn {
  cursor: pointer;
}

textarea.materialize-textarea{min-height: 6rem;}

.update-link:hover {
  background: rgba(208, 208, 208, 0.5);
}

.update-link {
  transition: background 0.3s ease;
}