nav ul li:hover {
  background-color: rgba(255, 255, 0, 0.7);
}

#nav-dropdown li {
  background-color: black;
}

#nav-dropdown li a {
  color: white;
  font-size: 14px;
}

.dropdown-trigger {
  cursor: default;
}
.material-icons{
  display: inline-flex;
  vertical-align: bottom;
}
#nav-dropdown li:hover {
  background-color: rgba(255, 255, 0, 0.8);
}

#sidenav-overlay {
    z-index: 9
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Computer Modern Bright", sans-serif;
  }

  main {
    flex: 1 0 auto;
  }

  .google-calendar{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }

  .google-calendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }